
body {
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.admin-sidebar {
    width: 12vw; 
    background-color: white; 
    padding: 5vh;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); 
    position: fixed;
    height: 100vh;
}

    .admin-sidebar img {
        margin-top: 0;
        margin-bottom: 3vh;
    }

.admin-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.admin-sidebar ul li {
    margin-bottom: 3vh;
}

.admin-sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* Contenu principal */
.admin-content {
    margin-left: 20vw; 
    padding: 5vh; 
}


/* Style du tableau */
table {
    border-collapse: collapse; 
    width: 100%;
}


td, th {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}


th {
    background-color: #f2f2f2; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.fa-xmark{
    color:red;
}

.fa-pencil{
    color:orange;
}

.fa-plus{
    color:rgb(255, 255, 255);
}

.add_marker{
    margin-top:2vh;
    background-color:green;
    color: white;
}

.editable{
    width:20vw;
}

@media screen and (max-width: 1000px) {
    .admin-content {
        margin-left: 0;
        margin-right:0;
    }

    /* Admin Sidebar devient horizontale en haut de l'écran */
    .admin-sidebar {
        width: 100%;
        height: auto;
        padding: 2vh;
        position: static;
        box-shadow: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .admin-sidebar img {
        margin-top: 0;
        margin-bottom: 0;
    }

    .admin-sidebar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 2vh;
    }

    .admin-sidebar ul li {
        margin-bottom: 0;
    }
}