/* admin_style.css */

/* Style de base */
body {
    background-color: #f0f0f0; /* Fond gris clair */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Colonne de navigation à gauche */
.admin-sidebar {
    width: 12vw; /* Largeur de la colonne de navigation en viewport width */
    background-color: white; /* Fond blanc */
    padding: 5vh; /* Marge intérieure en viewport height */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Ombre à gauche */
    position: fixed;
    height: 100vh; /* Hauteur en viewport height */
}

.admin-sidebar h2 {
    margin-top: 0;
}

.admin-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.admin-sidebar ul li {
    margin-bottom: 2vh; /* Marge bas en viewport height */
}

.admin-sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* Contenu principal */
.admin-content {
    margin-left: 20vw; /* Largeur de la colonne de navigation en viewport width */
    padding: 5vh; /* Marge intérieure en viewport height */
}

/* Dans votre fichier CSS (admin_villes_style.css) */

/* Style du tableau */
table {
    border-collapse: collapse; /* Fusionner les bordures pour un look de tableau */
    width: 100%; /* Largeur totale du tableau */
}

/* Style des cellules de tableau (td) et des en-têtes de colonne (th) */
td, th {
    border: 1px solid #ddd; /* Bordure de 1 pixel solide avec une couleur grise (#ddd) */
    padding: 8px; /* Espace interne autour du contenu de la cellule */
    text-align: left; /* Alignement du texte à gauche */
}

/* Style des en-têtes de colonne (th) */
th {
    background-color: #f2f2f2; /* Couleur de fond gris clair pour les en-têtes de colonne */
}

/* Style des lignes alternées pour une meilleure lisibilité */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Couleur de fond gris clair pour les lignes paires */
}

.fa-xmark{
    color:red;
}

.fa-pencil{
    color:orange;
}

.fa-plus{
    color:rgb(255, 255, 255);
}

.add_city{
    margin-top:2vh;
    background-color:green;
    color: white;
}