/* Réinitialisation de styles */
*{
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Empêche le défilement de l'image */
}   



header {
    z-index:1;
    background-image: url('../../assets/pictures/header-background.jpg');
    background-size: cover;
    color: rgb(0, 0, 0);
    padding-bottom: 5vh;
    padding-right:3vw;
    margin-bottom: 5%;
}

h1{
    padding-top: 5vh;
    color: white;
    margin-left: 2vw;
}

.title{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

nav{
    margin-top:-3.5vh;
    margin-right:-0.9vw;
}

.menu-btn{
    display:none;
}

header nav ul {
    list-style: none;
    text-align: right;
    float: right;
    margin-top:8vh;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 19px;
}

main {
    text-align: start;
    padding: 20px;
}

.search-bar {
    text-align: start;
    margin-left: 6vw;
}

.search-bar form {
    display: inline-block;
}

.search-bar input[type="text"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 300px; /* Ajustez la largeur selon vos besoins */
}

.city-details {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh;
}

.city-card {
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 3.5vh;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 47vh;
    max-height: 4vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 2vw;
    flex-direction: column;
    justify-content: space-between;
}

.city-card-content {
    display: flex;
    flex-direction: column;

}

.city-card-content h2 {
    line-height: 130%;
    min-height: 8%;
    max-height: 8%;
}

.city-card-content p {
    font-size: 19px;
    align-self: flex-start;
    margin-top: 43vh;
    position: absolute;
}


footer {
    line-height: 1.6;
    position: static;
    bottom: 0;
    right:0;
    left:0;
    background-color: #333;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer p {
    margin-left:41.5vw;
}

.logo{
    margin-top:5vh;
    margin-left:2vw;
}

label{
    margin-left:3vw;
    transform: scale(1.5);
    font-weight: bold;
}

.city-card a {
    text-decoration: none;
    color: white;
}




@media screen and (max-width: 1000px) {
    
    main {
        display: flex;
        flex-direction: column;
        align-items: left; 
    }

    .imgtop {
        max-width: 50%;
        margin: 2vh 0;
    }

    .text {
        text-align: left; 
    }

    .text h2 {
        font-size: 28px; 
    }

    .text-para {
        margin-top: 2vh;
        font-size: 18px;
        max-width: 100%;
    }

    .city-details {
        flex-direction: column; /* Modifier la direction en colonne pour les écrans plus petits */
        align-items: center; /* Centrer les éléments */
    }

    .city-card {
        min-width: 100%;
        max-width: 100%; /* Assurer que la carte occupe toute la largeur de l'écran */
        margin: 2vh 0; /* Ajouter une marge entre les cartes */
    }

    .city-card-content p {
        margin-top: 0; /* Ajuster la marge pour l'affichage correct */
        position: relative; /* Retourner à la position relative pour l'affichage normal */
    }

}




@media (max-width: 595px) {

    header nav {
        float: none;
        text-align: center;
    }

    header nav ul {
        display: block;
        text-align: center;
        padding-top: 2vh;
    }

    header nav ul li {
        display: block;
        margin: 0;
    }

    header nav a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
    }

    .menu-btn:checked~nav .menu {
        margin-top: 65px;
    }


    .h1top{
        color: white;
        margin-top: -12.4vh;
        margin-left: 28vw ;
        font-size: 23px;
    }

    .imgtop{
        display: none;
    }

    .logo{
        position: relative;
        max-width: 15vw;
        margin-top: 1vh;
        margin-left:-75.7vw;
    }

      /* Hamburger menu button */

    .menu-btn {
        display: none;
    }
    
    .menu-icon {
        display: inline-block;
        position: relative;
        top:5vh;
        left: 75vw;
        cursor: pointer;
        padding: 24px 14px;
        z-index: 1;
    }
    
    .navicon {
        background-color: #fffdfd;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: 0.3192s ease-in-out;
    }
    
    .navicon:before,
    .navicon:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #ffffff;
        transition: 0.3192s ease-in-out;
    }
    
    .navicon:before {
        top: 6px;
    }
    
    .navicon:after {
        bottom: 6px;
    }
    
    /* Hamburger Menu Animation Start */
    
    .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
        top: 0;
    }
    
    .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
        bottom: 0;
    }
    
    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
        transition: 0.3192s ease-in-out;
    }
        
    .menu-icon,
    .menu-btn,
    .navicon {
        -webkit-tap-highlight-color: transparent;
    }
    
    /* Nav items */
    
    .menu {
        z-index: 10;
        background-color: #eeeeee;
        width: 100%;
        height: auto;
        list-style-type: none;
        position: absolute;
        top: 6.5vh;
        left: 0;
        right: 0;
        margin-top: 65px;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3192s ease-in-out, opacity 0.3192s ease-in-out;
    }
    
    
    .menu-btn:checked~nav .menu {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3192s ease-in-out, opacity 0.3192s ease-in-out;
    }
    
    .menu li {
        border-top: 1px solid #c7c7c7;
        padding: 10px 0;
        opacity: 0;
        transition: 0.5s;
    }
    
    .menu a {
        color: #222222;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.9rem;
        opacity: 0;
        transition: 0.5s;
    }
    
    .menu-btn:checked~nav .menu a,
    .menu-btn:checked~nav .menu li {
        opacity: 1;
        transition: 0.3192s ease-in-out;
    }
    }