/* Réinitialisation de styles */
*{
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background-color:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Empêche le défilement de l'image */
}   

header {
    position: absolute;
    color: white;
    padding-top: 2.5vh;
    margin-right:3vw;
    margin-bottom: 5%;
    z-index: 1;
    width: 100%;
}

.title{
    color: white;
    font-size: 28px;
}


header nav ul {
    padding-top:5.5vh;
    list-style: none;
    text-align: right;
    margin-right:3vw;
    float: right;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
}

main {
    margin: 0 auto;
    text-align: center;
    position: relative; /* Définissez la position relative pour permettre le positionnement absolu des éléments enfants */
}

#map{
    height:94vh;
    width:100%;
    z-index: 0;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    }


.leaflet-right {
    margin-top: 18vh;
    margin-right:5vw;
    transform: scale(1.2);
}

.pin{
    width:2vw;
    float: left;
    margin-left:2.5vw;
    margin-right:1vw;
}

figcaption {
    float: left;
    margin-top:2vh;
}

.pin-container{
    padding-top:3.5vh;
    padding-left:5vw;
    float:left
}

.logo{
    margin-top:3.5vh;
    margin-left:2vw;
    float:left
}

/* Créez un effet d'ombre dégradé en haut de la page */
.shadow-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajustez la hauteur de l'ombre selon vos préférences */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    z-index: 1;
}

/* Styles pour la barre de recherche */
.citySearch {
    margin-top:1.8vh;
    margin-left:10vw;
    z-index: 2;
    padding: 10px; /* Ajoutez un peu de marge interne pour l'apparence */
    border: none;
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px;
    width: 25vw; /* Largeur de la barre de recherche */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

datalist {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
}

/* Styles pour les options du datalist */
datalist option {
    padding: 8px;
    cursor: pointer;
}