/* Réinitialisation de styles */
*{
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background-color:#f4f4f4;
}   

header {
    z-index:1;
    background-image: url('../../assets/pictures/index_header.jpg');
    background-size: cover;
    color: rgb(0, 0, 0);
    padding-bottom: 5vh;
    padding-right:2.1vw;
    margin-bottom: 2vh;
    background-size: cover;
}

.h1top{
    padding-top: 5vh;
    color: white;
    margin-left: 2vw;
}

.text 
    h1{
        color: rgb(0, 0, 0);
        font-size: 52px;
        font-weight: 900;
    }

    .text-para{
        margin-top:2vh;
        font-size: 18px;
        max-width: 50%;
    }

.imgtop{
    margin: 2vh 4vw 0 0;
    margin-top:-15vh;
    float: right;
    max-width: 35vw;
}

nav{
    float: right;
    padding-top: 8vh;
}

header nav ul {
    list-style: none;
    text-align: right;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 19px;
}

main {
    margin: 3vh 0 0 0;
    padding: 20px;
}

.menu-btn{
    display:none;
}


footer {
    bottom: 0;
    right:0;
    left:0;
    background-color: #333;
    color: white;
    font-size:10px;
    padding-top: 10px;
    padding-bottom: 25px;
}

footer p {
    margin-left:42vw;
    margin-top:2vh;
    font-size: 16px;
    max-width: 50%;
}

.logo{
    margin-top:5vh;
    margin-left:2vw;
}

.title{
    margin-top:4vh;
}


@media screen and (max-width: 1000px) {
    
    main {
        display: flex;
        flex-direction: column;
        align-items: left; 
    }

    .imgtop {
        max-width: 50%;
        margin: 2vh 0;
    }

    .text {
        text-align: left; 
    }

    .text h2 {
        font-size: 28px; 
    }

    .text-para {
        margin-top: 2vh;
        font-size: 18px;
        max-width: 100%;
    }

}




@media (max-width: 595px) {

    header nav {
        float: none;
        text-align: center;
    }

    header nav ul {
        display: block;
        text-align: center;
        padding-top: 2vh;
    }

    header nav ul li {
        display: block;
        margin: 0;
    }

    header nav a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
    }

    .menu-btn:checked~nav .menu {
        margin-top: 65px;
    }


    .h1top{
        color: white;
        margin-top: -20vh;
        margin-left: 24vw ;
        font-size: 23px;
    }

    .imgtop{
        display: none;
    }

    .logo{
        max-width: 15vw;
        margin-top:5vh;
        margin-left:2vw;
    }

      /* Hamburger menu button */

    .menu-btn {
        display: none;
    }
    
    .menu-icon {
        display: inline-block;
        position: relative;
        top:2px;
        left: 310px;
        cursor: pointer;
        padding: 24px 14px;
        z-index: 1;
    }
    
    .navicon {
        background-color: #fffdfd;
        display: block;
        height: 3px;
        width: 26px;
        position: relative;
        transition: 0.3192s ease-in-out;
    }
    
    .navicon:before,
    .navicon:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #ffffff;
        transition: 0.3192s ease-in-out;
    }
    
    .navicon:before {
        top: 9px;
    }
    
    .navicon:after {
        bottom: 9px;
    }
    
    /* Hamburger Menu Animation Start */
    
    .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
        top: 0;
    }
    
    .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
        bottom: 0;
    }
    
    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
        transition: 0.3192s ease-in-out;
    }
    
    /* Hide blue background on hamburger menu tap on some mobile devices */
    
    .menu-icon,
    .menu-btn,
    .navicon {
        -webkit-tap-highlight-color: transparent;
    }
    
    /* Nav items */
    
    .menu {
        background-color: #eeeeee;
        width: 100%;
        height: auto;
        list-style-type: none;
        position: absolute;
        top: 6.5vh;
        left: 0;
        right: 0;
        margin-top: 65px;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3192s ease-in-out, opacity 0.3192s ease-in-out;
    }
    
    
    .menu-btn:checked~nav .menu {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3192s ease-in-out, opacity 0.3192s ease-in-out;
    }
    
    .menu li {
        border-top: 1px solid #c7c7c7;
        padding: 10px 0;
        opacity: 0;
        transition: 0.5s;
    }
    
    .menu a {
        color: #222222;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.9rem;
        opacity: 0;
        transition: 0.5s;
    }
    
    .menu-btn:checked~nav .menu a,
    .menu-btn:checked~nav .menu li {
        opacity: 1;
        transition: 0.3192s ease-in-out;
    }
    }